@font-face {
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'JetBrainsMono', 'Consolas', monospace;
    color: white;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output {
    position: absolute;
    margin: 0;
    font-size: 8px;
    z-index: 20;
    white-space: nowrap;
    margin-top: -100px;
    overflow-y: clip;
    height: calc(100vh + 100px);
}

#footer {
    position: absolute;
    bottom: 0px;
}

#redirect-link {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: larger;
    position: absolute;
}

#sudoku-game {
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 0 10px 0;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: min(320px, 45%);
    margin: 20px auto;
    border: 1px solid #ccc;
    aspect-ratio: 1 / 1;
}

.cell-sudoku {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 100%;
}

.cell-sudoku p {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 120%;
    margin: 0px;
    height: auto;
}

.cell-sudoku-original p {
    font-size: 145% !important;
    color: grey;
}

#scatterPlotSudoku {
    height: min(320px, 45%) !important;
    width: auto !important;
    margin-top: 20px;
}


#name {
    right: 0;
    width: 900px;
    z-index: 10;
    text-align: center;
    top: 20px;
    font-size: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    text-align: center;
}

#cube {
    margin: 0;
    font-size: 8px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 8px;
}

#homeRight {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#gameOfLife {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    line-height: 8px;
    white-space: nowrap;
    z-index: 10;
    cursor: pointer;
    font-size: 0.8em;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: fit-content;
}

#canvas {
    height: 100%;
    position: absolute;
    right: 0;
}

#me {
    display: none;
}

#contact-list {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#footer-list {
    width: fit-content;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer-list li {
    margin: 10px 25px 10px 25px;
}

@media (max-height: 870px) {
    #skills-and-knowledge-text {
        width: 90%;
        height: 70%;
    }


    #skills-and-knowledge-text>ul {
        display: flex;
    }

    #skills-and-knowledge-text>ul>li:first-child {
        width: 60%;
    }

    #history-text p {
        font-size: 0.8em;
    }
}

@media (max-height: 730px) {
    #history-text p {
        font-size: 0.7em;
    }
}


#skills-and-knowledge-text {
    font-size: clamp(0.4rem, 0.9vw, 0.9rem);
    height: 80%;
    width: 90%;
    align-self: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: auto;
}

#skills-and-knowledge-text p {
    margin: 5px 0;
}

#skills-and-knowledge-text ul {
    list-style: disclosure-closed;
    padding: revert;
}

#skills-and-knowledge-text li {
    text-align: revert;
}

#history-text {
    font-size: clamp(0.6rem, 1vw, 1rem);
    width: 80%;
    align-self: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#history-text a {
    text-decoration: underline !important;
}

a {
    text-decoration: none;
    color: white;
}

#homeList {
    z-index: 10;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}


#homeList li {
    padding: 5px 0;
    width: fit-content;
}

#homeList li:hover {
    cursor: pointer;
}

#copyright {
    margin-top: auto;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 10;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 1s forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.underline {
    text-decoration: underline;
}